<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Abises Angular</span>
    <span class="example-spacer"></span>
    <button routerLink="/profile" class="mar-btn" mat-raised-button>Profile</button>
    <button routerLink="/login" class="mar-btn" mat-raised-button>Login</button>
    <button routerLink="/table" class="mar-btn" mat-raised-button>Table</button>
    <button routerLink ="/register" class="mar-btn" mat-raised-button>Register</button>
    <button routerLink ="/codeevolution" mat-raised-button>CE_prop_bind</button>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>